<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/css/app.css"/>
</head>
<body class="font-sans bg-gray-800 py-24">
    <div class="container mx-auto p-8 bg-gray-100 flex flex-col gap-8">
        <section id="typography">
            <span class="border-b-4 pb-2 border-solid border-blue-400 text-2xl font-bold">Typograph</span>
            <div class="content mt-8 flex flex-col">
                <span class="text-4xl font-bold">
                    Headline
                </span>
                <span class="text-2xl font-bold">
                    Subheadline
                </span>
                <span class="text-lg font-normal">
                    Content
                </span>
                <span class="text-md font-light">
                    Information
                </span>
            </div>
        </section>
        <section id="color">
            <span class="border-b-4 pb-2 border-solid border-blue-400 text-2xl font-bold">Color</span>
            <div class="content mt-8 flex flex-col gap-4">
                <div class="grid grid-cols-4 gap-4">
                    <div class="w-full h-32 bg-gray-600 rounded-lg relative">
                        <span class="absolute bottom-2 right-2 font-normal text-lg">
                            Color name
                        </span>
                    </div>
                    <div class="w-full h-32 bg-gray-600 rounded-lg relative">
                        <span class="absolute bottom-2 right-2 font-normal text-lg">
                            Color name
                        </span>
                    </div>
                    <div class="w-full h-32 bg-gray-600 rounded-lg relative">
                        <span class="absolute bottom-2 right-2 font-normal text-lg">
                            Color name
                        </span>
                    </div>
                    <div class="w-full h-32 bg-gray-600 rounded-lg relative">
                        <span class="absolute bottom-2 right-2 font-normal text-lg">
                            Color name
                        </span>
                    </div>
                </div>
                <div class="grid grid-cols-4 gap-4">
                    <div class="w-full h-32 bg-gray-600 rounded-lg relative">
                        <span class="absolute bottom-2 right-2 font-normal text-lg">
                            Color name
                        </span>
                    </div>
                    <div class="w-full h-32 bg-gray-600 rounded-lg relative">
                        <span class="absolute bottom-2 right-2 font-normal text-lg">
                            Color name
                        </span>
                    </div>
                    <div class="w-full h-32 bg-gray-600 rounded-lg relative">
                        <span class="absolute bottom-2 right-2 font-normal text-lg">
                            Color name
                        </span>
                    </div>
                    <div class="w-full h-32 bg-gray-600 rounded-lg relative">
                        <span class="absolute bottom-2 right-2 font-normal text-lg">
                            Color name
                        </span>
                    </div>
                </div>
            </div>
        </section>
        <section id="button">
            <span class="border-b-4 pb-2 border-solid border-blue-400 text-2xl font-bold">Button</span>
            <div class="content mt-8 flex flex-col gap-2">
                <div class="flex flex-row gap-2">
                    <button class="rounded-lg bg-gray-400 px-4 py-2 hover:bg-gray-800">
                        Button
                    </button>
                    <button class="rounded-lg bg-gray-400 px-4 py-2 hover:bg-gray-800">
                        Button
                    </button>
                </div>
                <div class="flex flex-row gap-2">
                    <button class="rounded-lg bg-transparent border border-gray-800 px-4 py-2">
                        Button
                    </button>
                    <button class="rounded-lg bg-transparent border border-gray-800 px-4 py-2">
                        Button
                    </button>
                </div>
            </div>
        </section>
        <section id="form">
            <span class="border-b-4 pb-2 border-solid border-blue-400 text-2xl font-bold">Form</span>
            <div class="content mt-8">
                <input type="text" class="rounded-lg border border-gray-600 px-2 py-1" placeholder="Input your text"/>
            </div>
        </section>
    </div>
</body>
</html>